/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
  font-family: 'Raleway', sans-serif;
}

.hero{
  left: 0
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 48%;
  width: 100%;
}

h1{
  font-weight: 900;
  font-size: 40px;
}

.hero-desc{
  color: #fff;
  display: block;
  margin: 12px auto;
  font-size: 16npx;
  width: 247px;
  font-weight: 400;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.hero-social{
  margin: 12px auto;
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.hero-social a{
  color: #fff;
}


html{
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-image img{
  display: inline-block;
  max-width: 100%;
  max-height: 127px;
  margin: 0 auto;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}
