!!!
%html
  %head
    %title Vincent Paca - Rubyist | Cebu City, Philippines
  %link{ :rel => "stylesheet", :type => "text/css", :href => "style.css" }
  %link{ :href => '//fonts.googleapis.com/css?family=Raleway:400,900,300', :rel => 'stylesheet', :type => 'text/css' }
  %link{ :href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet" }
  %link{ :rel => "shortcut icon",  :href => "images/favico.png", :type => "image/x-icon" }
  %body
    .hero= yield
    .footer
      %a{ :href => "http://www.reddit.com/r/EarthPorn/comments/1hv1gy/sunrise_in_annapurna_mountain_nepal_2000x1333oc/", :target => "_blank" }
        Photo by /u/flying_sheeeep
