!!!
%html
  %head
    %title Vincent Paca - Rubyist | Cebu City, Philippines
  %link{ :rel => "stylesheet", :type => "text/css", :href => "style.css" }
  %link{ :href => '//fonts.googleapis.com/css?family=Raleway:400,900,300', :rel => 'stylesheet', :type => 'text/css' }
  %link{ :href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet" }
  %body
    .hero= yield
